* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: 'IRANSANS';
    src: url('../fonts/iransans/IRANSansWeb.woff') format('woff'),
        url('../fonts/iransans/IRANSansWeb.ttf') format('truetype'),
        url('../fonts/iransans/IRANSansWeb.eot') format('eot'),
        url('../fonts/iransans/IRANSansWeb.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    direction: rtl;
    width: 100%;
    height: 100%;
}

body {
    direction: rtl;
    line-height: 1;
    background-color: #E8E6F1;
    font-family: 'IRANSANS', 'yekan', "Roboto", sans-serif, 'Arial' !important;
    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #f5fffe;
    /* background-image: url("../image/green_grass.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; */
}
.timer-box {
  display: flex;
  flex-flow: row-reverse;
  justify-self: center;
  align-items: center;
  position: absolute; 
  top: 20px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  max-width: 110px;
  background: #fff;
  padding: 10px 23px;
  border-radius: 8px;
  font-size: 1.2rem;
  -webkit-box-shadow: -2px 2px 5px 0px rgb(0 0 0 / 35%);
  -moz-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.35);
  box-shadow: -2px 2px 5px 0px rgb(0 0 0 / 35%);
}
.timer-box span {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rate-box {
  position: absolute; 
  top:80px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  max-width: 200px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.rate-box span {
  padding: 10px;
  background: #b2ea3f;
  margin-bottom: 5px;
  min-width: 53px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
}
#game-rate{
  font-size: 1.9rem;
}
#flag-start{
  position: absolute;
  left: 30px;
  bottom: 20px;
  z-index: 3;
  transition: 1s all;
}
.start-flag{
  transform:translateX(-200px);
  
}
/* style for up to downt  */
#dino{
  position: absolute;
  left: 100px;
  bottom: 20px;
  width: 70px;
  z-index: 10;
}
#dino img{
  max-width: 100%;
}
.dinoActive {
    animation: MoveUpDown .8s ease-in-out infinite;
}
  
@keyframes MoveUpDown {
  0%, 100% {
    bottom:0;
  }
  50% {
    bottom:120px
  }
}

  /* style for right to left */
.block{
  position:absolute;
  width: 70px;
  right: -20%;
  bottom: 0;
  z-index: 3;
  transition: .5s all;
}
.block img{
    max-width: 100%;
}

.blockActive{
    right: -20%;
    animation: run 2s  linear infinite;
}
.blockActive1{
  right: -80%;
  animation: run1 8s  linear infinite;
}
.blockActive2{
  right: -120%;
  animation: run2 12s  linear infinite;
}
@-webkit-keyframes run {
  0% {
    right:-20%;
  }
  100% {
    right: 120%;
  }
}
@-webkit-keyframes run1 {
  0% {
    right:-80%;
  }
  100% {
    right: 200%;
  }
}
@-webkit-keyframes run2 {
  0% {
    right:-120%;
  }
  100% {
    right: 250%;
  }
}
/* style for Football field */
#field-bg {
  position: absolute;
  width: 100%;
  height: 130px;
  background: #d9ff8b;
  bottom: 0;
  border-top: 10px solid #b2ea3f;
  z-index: 2;
}
.block-g {
  background: #7fdf6d;
  border-radius: 50%;
  position: absolute;
  bottom: 92px;
}

.block-g:nth-child(1){
  width: 20px;
  height: 20px;
  bottom: 117px;
  animation-delay: 2s;
  left: 55%;
  background: #00b564;
}
.block-g:nth-child(2){
  width: 32px;
  height: 32px;
  bottom: 110px;
  animation-delay: 3s;
  left: 19%;
}
.block-g:nth-child(3){
  bottom: 110px;
  width: 34px;
  height: 34px;
  animation-delay: 4s;
  left: 33%;
  background: #00b564;
}
.block-g:nth-child(4){
  width: 28px;
  height: 28px;
  bottom: 112px;
  animation-delay: 5s;
  left: 65%;
  background: #00b564;
}
.block-g:nth-child(5){
  width: 30px;
  height: 30px;
  bottom: 106px;
  animation-delay: 6s;
  left: 5%;
}
.block-g:nth-child(6){
  width: 20px;
  height: 20px;
  bottom: 118px;
  animation-delay: 5s;
  left: 1%;
  background: #00b564;
}


#football-field{
  position:absolute;
  width: 150%;
  height: 233px;
  left:  80%;
  bottom: 0;
  z-index: 0;
}
#football-field img{
    max-width: 100%;
}

.fieldActive{
    animation: fieldgo 5s  linear infinite;
}
@-webkit-keyframes fieldgo {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* style cloud field */
#cloud{
  position:absolute;
  width: 250%;
  left: 0%;
  top:  20%;
  z-index: 0;
}
#cloud img{
    max-width: 100%;
}

.cloudActive{
    animation: cloudAnimat 5s  linear infinite;
}
@-webkit-keyframes cloudAnimat {
  0% {
    left:0%;
  }
  100% {
    left: -250%;
  }
}

.custom-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0000006b;
  z-index: 12;
}
.modal-body {
  position: absolute; 
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  max-width: 25em;
  background-color: #fff;
  padding: 15px;
  border-radius: 4px;
  background-color: #ffffff;
}
.modal-content {
  border: solid 1.5px #f69700;
  padding: 2em;
  position: relative;
}
.header-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.close-modal {
  width: 25px;
  height: 25px;
  padding: 3.5px 3px 3px 3.5px;
  border-radius: 4px;
  background-color: #082a9f;
  color: #fff;
  border: none;
  position: absolute;
  top: 15px;
  left: 15px;
}

.icon-modal {
  width: 90px;
  height: 90px;
  background: #082a9f;
  padding: 13px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-modal img{
  max-width: 100%;
}

.btn {
  font-family: inherit;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-fotfam-light {
  background: #f69700;
  color: #fff;
}
.footer-modal {
  padding: 20px 0;
  text-align: center;
}